.product-info {
  &__name {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;

    span {
      color: #888;
    }
  }

  &__price {
    font-size: 34px;
    font-weight: bold;
    color: #d70018;
    margin-bottom: 35px;
  }

  &__group {
    margin-bottom: 30px;

    h4 {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
}

/* ================= Màu ================= */

.colors {
  display: flex;
  gap: 14px;
}

.color {
  width: 42px;
  height: 42px;

  padding: 0;

  border-radius: 50%;

  border: 2px solid #bfbfbf !important;

  cursor: pointer;

  transition: all 0.25s ease;

  box-sizing: border-box;
}

.color:hover {
  transform: scale(1.08);
}

.color.active {
  border: 3px solid #c89b3c !important;
  box-shadow: 0 0 0 3px rgba(200, 155, 60, 0.2);
}

/* ================= Size ================= */

.sizes {
  display: flex;
  gap: 14px;
}

.size {
  width: 60px;
  height: 44px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  border-radius: 8px;
}

.size.active {
  background: #c89b3c;
  color: white;
  border: none;
}

/* ================= Quantity ================= */
.quantity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background: #6c6b6b;
  font-size: 20px;
  cursor: pointer;
}

.quantity span {
  font-size: 16px;

  font-weight: bold;
}

.add-cart-btn {
  width: 260px;
  height: 50px;
  margin-top: 10px;
  background: #c89b3c !important;
  border: none !important;
}

.product-info__description {
  margin-top: 45px;
  h3 {
    margin-bottom: 12px;
  }
  p {
    line-height: 1.8;
    color: #555;
  }
}
