.app-footer {
  background: #faf8f2;
  padding: 50px;
}

.footer-logo {
  width: 180px;
  height: auto;
}

.app-footer h3 {
  margin-bottom: 20px;
}

.app-footer p {
  color: #666;
}

.anticon {
  font-size: 22px;
  cursor: pointer;
}
