.app-header {
  background: white !important;
  padding: 0 40px;
  height: 70px;
  border-bottom: 1px solid #eee;

  position: relative;
  z-index: 1000;
  overflow: visible;
}

.logo {
  width: 180px;
  height: auto;
}

.header-menu {
  flex: 1;
  justify-content: center;
  border-bottom: none !important;
}

.search-wrapper {
  position: relative;

  .search-box {
    width: 220px;
  }

  .search-suggestion {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    z-index: 9999;
    overflow: hidden;

    .search-item {
      padding: 10px 15px;
      cursor: pointer;

      display: flex;
      align-items: center;

      min-height: 42px;
      line-height: 1.2;
      border-bottom: 1px solid #f3f3f3;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f5f5f5;
      }
    }
  }
}

.ant-menu-item {
  font-weight: 500;

  &:hover {
    color: #b8860b !important;
  }
}
